html,
body {
    min-height: 100vh;
}

body {
    font-family: var(--body-font);
    font-size: 16px;
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
}

a {
    color: var(--orange);
    text-decoration: none;
}
